table{
    width: 100%;
    background-color:#dbdbdb;
    border-collapse: collapse;
    border: solid 1px black;
    
  
}
th{
    background-color: #142f3f;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 20px;
    
}
td{
    color: #142f3f;
    border: 0px;
    font-size: 14px;
    padding: 24px;
}
tr{
   
    border: solid 1px #C6C6C6;
    
}
.titulo{
    color: white;
    font-size: 50px;
    line-height: 70px;
    text-decoration:underline;
    margin-bottom: 10px;
}
.contenedor-datos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/backgrounds/blue minimalist wallpaper.jfif');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto;
    margin: 0px;
    padding: 1%;
    /* padding: 5% 20% 5% 20% ; */
}
.contenedor-tabla{
    width: 100%;
    height: auto;
    overflow: auto;
}

.descargar-pdf{
    margin-bottom: 10px;
    background-color: #33bbd1;
    color: white;
}


.label-graficas{
    font-weight: bold;
    padding: 1rem;
    font-style:oblique
}
/* graficas -- tortas */
.graficas{
    background-color: white;
}

.advanced-pie-legend .total-value {
    margin: 15px;
}
.advanced-pie-legend .legend-items-container .legend-items {
    padding: 5px;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    margin-top: 5px;
}

/* graficas barras*/
.chart-legend .legend-label {
  
    color:black;
}
.chart-legend .legend-title {
    color: black;
}
