
 <div class="registro-contenedor" fxLayoutRows="center">
    <div>
        <h1 class="registro-contenedor-titulo">Registro de Empresas</h1>
     </div>
     
    <div class="registro-contenedor-formulario">

        <form (submit)="guardarCambios()"  [formGroup]="form">

            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput formControlName="nombre">
                <mat-error>{{obtenerError()}}</mat-error>
            </mat-form-field><br>


            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Correo Electronico</mat-label>
                <input matInput formControlName="correo">
                <mat-error>{{obtenerErrorCorreo()}}</mat-error>
            </mat-form-field><br>


            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="contraseña" type="password">
                <mat-error>{{obtenerErrorContrasenia()}}</mat-error>
            </mat-form-field><br>


            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput formControlName="confirmar_contraseña" type="password">
                <mat-error>{{obtenerErrorConfirmacionContrasenia()}}</mat-error>
            </mat-form-field>

            <div>
                <button  class="boton-cancelar" mat-button routerLink="['/']">
                    Cancelar
                </button>
                <button  class="boton-registro" mat-button [disabled]="form.invalid" >
                    Enviar registro
                </button>
                
            </div>
         
        </form>
    </div> 
</div> 
