
.contenedor-detalle-postulante-cabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/backgrounds/blue minimalist wallpaper.jfif');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto;
    margin: 0px;
    padding: 5%;
    
}
.cabecera-descripcion{
    margin-left: 5%;
    margin-top:2% ;
}
.cabecera-foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.boton-cv{
    background-color:#33bbd1;
    color: white;
    height: 50px;
}

.cabecera-nombres{
    color: white;
    font-size:50px ;
}

.cabecera-profesion{
    color: #33bbd1;
    font-size:30px ;
}
.cabecera-datos{
    color: white;
    font-size: 20px;
    margin-bottom: 0%;
}
.contenedor-detalle-postulante-contenido{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('src/assets/backgrounds/background-02-01.jpg');
/*     background-color: #313131; */
    padding: 5%;
}

.contenido-descripcion{
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}
.contenido-subtitulo{
    color: white;
    font-size: 27px;
    
}
ul{
    width: 100%;
}
li{
    margin: 5%;
}

.contenedor-formulario-acpetacion{
    background-color:#33bbd1;
    border-radius: 15px;
}

.formulario-inputs{
    background-color: white;
    color: #142f3f;
    border-radius: 15px;
    margin: 1rem;
}
.formulario-inputs-mediano{
    background-color: white;
    color: #142f3f;
    border-radius: 15px;
    margin: 1rem;
}
.contenedor-botones{
    margin-left: 10%;
    width: 100%;
    
}
.boton-formulario{
    background-color: #142f3f;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-top: 1%;
    
}
.boton-formulario-rechazar{
    background-color: #FF6200;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-top: 1%;

}
.boton-volver{
    color: white; 
    border: 1px solid #ffff; 
    height: 50px;
}
.titulo-formulario{
    color:white; 
    margin-top:20px; 
    font-size:27px;
}
.movil{
    display: none;
}
.tablet{
    display: none;
}
@media(max-width:991px){
    .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }
    .cabecera-foto-perfil{
        width: 200px;
        height: 200px;

    }
    .cabecera-datos{
        margin-left: -220px;
    }
    .contenedor-botones{
        margin-left: 2%;
    }
}
@media(max-width:767px){
    .movil{
        display: block;
    }
    .tablet{
        display: none;
    }
    .cabecera-foto-perfil{
        width: 100px;
        height: 100px;
    }
    .cabecera-nombres{
        font-size: 30px;
    }
    .cabecera-profesion{
        font-size: 20px;
        margin-left: -115px;
    }
    .boton-cv{
        margin-left: -115px;
    }
    .cabecera-datos{
        margin-left: -115px;
    }
    .boton-volver{
        margin-left: -100px;
    }
    .titulo-formulario{ 
        margin: 10px;
        font-size:20px;
    }
    .formulario-inputs-mediano{
        width: 40%;
        margin: 5%;
    }
    .contenedor-botones{
        text-align: center;
        width: 90%;
        margin: 5%;
    }
}
@media(max-width:575px){
    
    .cabecera-nombres{
        font-size: 20px;
    }
    .cabecera-profesion{
        font-size: 16px;

    }
    .cabecera-datos{
        font-size: 14px;
    }
    .contenido-subtitulo{
        font-size: 20px;
    }
    .contenido-descripcion{
        font-size: 14px;
    }
}