
 <div class="registro-contenedor" fxLayoutRows="center">
    <div>
        <h1 class="registro-contenedor-titulo">Iniciar sesión</h1>
     </div>
     <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
    <div class="registro-contenedor-formulario">
        <form (submit)="ingresar(form.value)" [formGroup]="form">
            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Correo</mat-label>
                <input formControlName="email" matInput>
                <mat-error>{{obtenerErrorCorreo()}}</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-error>{{obtenerErrorContrasenia()}}</mat-error>
            </mat-form-field><br>
            <div>
                <button  class="boton-registrar"  mat-button routerLink="/registrarse">
                    Registrar un cuenta
                </button>
                <button  class="boton-ingresar" mat-button [disabled]="form.invalid" >
                    Ingresar
                </button>
                <div *ngIf="this.mensajeRobot" >
                    <ul  style="color:white; background-color: #FF6200;">
                        <li>¡¡¡ {{mensajeRobot}} !!! </li>
                    </ul>
                </div>
                
                
            </div>     
        </form>
    </div> 
</div> 
