.registro-contenedor{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/backgrounds/background-01.jpg');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto ;
    margin: 0px;
    padding: 0px;
}
.registro-contenedor-titulo{
    color: white;
    font-size: 50px;
    line-height: 70px;
    padding: 5% 5% 0% 5%;
    text-decoration:underline;
    text-align: center;
}
.registro-contenedor-formulario{
    text-align: center;
    padding: 0% 10% 20% 10%;
}
.formulario-inputs{
    width: 50%;
    border-radius:15px ;
    background-color: white;
    color: #142f3f;
    margin: 10px;
}
.boton-ingresar{
    background-color: #33bbd1;
    color: white;
    font-size: 20px;
    padding: 1%;
    width: 24%;
    margin: 10px;
}
.boton-registrar{
    background-color: #142f3f;
    color: white;
    font-size: 20px;
    padding: 1%;
    width: 24%;
    margin: 10px;
}

@media(max-width:991px){
    .registro-contenedor-titulo{

        padding: 25% 5% 0% 5%;

    }

    .registro-contenedor-formulario{
        text-align: center;
        padding: 0% 3% 27% 3%;
    }

    .boton-ingresar{
        font-size: 16px;

    }
    .boton-registrar{
        font-size: 16px;

    }
}

@media(max-width:767px){
    .registro-contenedor-titulo{
        font-size: 30px;
    }

    .formulario-inputs{
        width: 70%;
    }
    .boton-ingresar{
        font-size: 14px;
        padding: 1%;
        width: 35%;
    }
    .boton-registrar{
        font-size: 14px;
        padding: 1%;
        width: 35%;
    }
}
@media(max-width:575px){
    .formulario-inputs{
        width: 80%;
    }
    .boton-ingresar{
        font-size: 12px;
        padding: 1%;
        width: 40%;
    }
    .boton-registrar{
        font-size: 12px;
        padding: 1%;
        width: 40%;
    }
}