.contenedor_postulantes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('src/assets/backgrounds/blue minimalist wallpaper.jfif');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto;
    margin: 0px;
    padding: 1%;
}

.postulantes_titulo{
    color: white;
    font-size: 50px;
    line-height: 70px;
    text-decoration:underline;
}
.contenedor_cards_postulantes{
 padding: 3% 5% 3% 5% ;
}

.card_postulante{
    box-shadow:   5px 5px 50px rgba(99, 99, 99, 0.158);
    background-color: #2b2b2b;
    width: 500px;
    max-height: 300px;
    border-radius: 15px;
    margin:30px ;
}
.card_imagen{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.card_nombre{
    color: white;
    font-size: 28px;
    margin: 0%;
    font-weight: bold;
}
.card_cargo{
    color:#33bbd1;
    font-size: 20px;
    margin: 0%;
}
.card_contenido{
    padding: 2%;
}

.contenido_descripcion{
    
    color: white;
    font-size: 18px;
}

.card_boton{
    background-color: #142f3f;
    color: white;
    margin: 1%;
    width: 30%;
}
.movil{
    display: none;
}

@media(max-width:1200px){
    .card_postulante{
        width: 300px;
        max-height: 300px;
        margin:10px ;
    }

    .card_imagen{
        width: 100px;
        height: 100px;
    }
    .contenido_descripcion{
        margin-left: -100px;
    }
}
@media(max-width:767px){
    .desktop{
        display: none;
    }
    .movil{
        display: block;
    }
    .postulantes_titulo{
        font-size: 30px;
    }
    .card_postulante{
        width: 270px;
        max-height: 270px;
        margin:5px ;
    }
    .card_nombre{
        font-size: 20px;
    }
    .card_imagen{
        width: 100px;
        height: 100px;
    }
    .card_boton{
        font-size:12px ;
    }


}