<div class="contenedor_publicar_empleo">
    <div fxLayoutAlign="center">
        <h1 class="publicar_empleo_titulo">Editar empleo</h1>
    </div>
    <div class="contenedor_formulario" fxLayout="column">
        <form (submit)="editarEmpleo( empleoId ,form.value)" [formGroup]="form">

            <mat-form-field appearance="fill" class="formulario-inputs" >
                <mat-label>Puesto empleo</mat-label>
                <input formControlName="puesto_empleo" matInput>
                <mat-error >{{obtenerError()}}</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill" class="formulario-inputs" >
                <mat-label>Descripcion del empleo</mat-label>
                <textarea formControlName="descripcion" matInput></textarea>
                <mat-error >{{obtenerError()}}</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill" class="formulario-inputs" >
                <mat-label>Requisitos del empleo</mat-label>
                <textarea formControlName="requisitos" matInput></textarea>
                <mat-error >{{obtenerError()}}</mat-error>
            </mat-form-field><br>

            <mat-form-field class="formulario-inputs" appearance="fill" >
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="categoriasId" >
                  <mat-option *ngFor="let option of categorias" [value]="option.id">
                    {{option.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error >{{obtenerError()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="formulario-inputs">
                <mat-label>fecha limite de postulacion</mat-label>
                <div fxLayout="row">
                    <input matInput [matDatepicker]="picker" formControlName="fecha_vencimiento">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                </div>
                <mat-hint>MM/DD/YYYY</mat-hint>
                
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>

            <div fxLayoutAlign="center">
                <button mat-button class="boton_publicar" [disabled]="form.invalid">
                    Guardar cambios
                </button>
            </div>
            

        </form>

    </div>
</div>

