.mensaje{
    font-weight: bold;
    color: #142f3f ;
    margin: 15px;
}
.boton-confirmar{
    background-color: #33bbd1;
    color: white;
    margin: 10px;
}
.boton-cancelar{
    background-color: #ff6200;
    color: white;
    margin: 10px;
}