<div class="detalle-empleo" *ngIf="detalle_empleo && empresa">
    <div fxLayout="row" class="detalle-empleo-cabecera">
        <div fxLayoutAlignRows="center">
            <img class="detalle-empleo-imagen" [src]="empresa.foto_perfil" alt="">
<!--   -->        </div>
        <div fxLayoutColumns="center" class=" detalle-empleo-cabecera-descripcion"  >
            <div fxLayout=" row" fxLayoutAlign="space-between">
                <h2 class="detalle-empleo-cabecera-titulo">{{ detalle_empleo.puesto_empleo}}</h2><br><br>

                <app-autorizado [rol]="'postulante'">
                    <ng-container Autorizado>
                        <button *ngIf="guardado == false" mat-button class="guardar-empleo" (click)="openDialogGuardar()"> Guardar empleo</button>
                        <button *ngIf="guardado == true" mat-button class="empleo-guardado" > Empleo Guardado</button>
                    </ng-container>
                    
                </app-autorizado>
                


            </div>
            
            <h3 class="detalle-empleo-cabecera-subtitulo"> {{ empresa.nombre_empresa}} </h3>
            <p>
                <span class="detalle-empleo-cabecera-subtitulo2">Descripcion del la empresa:  </span><br>
                {{ empresa.descripcion_empresa }}
            </p>
            <p>
                <span class="detalle-empleo-cabecera-subtitulo2">Feha Publicacion:</span> 
                {{detalle_empleo.fecha_publicacion}} &nbsp; &nbsp;
                <span class="detalle-empleo-cabecera-subtitulo2">Fecha de vencimiento:</span>
                {{detalle_empleo.fecha_vencimiento}}
            </p>
        </div>
    </div>

    <div class="detalle-empleo-contenido">
        <span class="detalle-empleo-contenido-subtitulo">DESCRIPCION DEL EMPLEO:</span><br>
        <p class="detalle-empleo-contenido-descripcion">
            
            {{detalle_empleo.descripcion}}
        </p>
        <span class="detalle-empleo-contenido-subtitulo">REQUISITOS DEL EMPLEO:</span><br>
        <p class="detalle-empleo-contenido-descripcion">
           
            {{detalle_empleo.requisitos}}
        </p>
        <strong class="detalle-empleo-contenido-descripcion">Sector empresarial:</strong>
        <p class="detalle-empleo-contenido-descripcion">{{empresa.sector}}</p>

        <strong class="detalle-empleo-contenido-descripcion">Redes sociales y contacto:</strong><br>
        <p class="detalle-empleo-contenido-descripcion">
            <span *ngIf="empresa.celular"><strong>Celular:</strong>{{empresa.celular}}</span>&nbsp; &nbsp;
            <span *ngIf="empresa.telefono"><strong>telefono:</strong>{{empresa.telefono}}</span>&nbsp; &nbsp;
            <span *ngIf="empresa.facebook"><strong>Facebook:</strong> {{empresa.facebook}}</span>&nbsp; &nbsp;
            <span *ngIf="empresa.instagram"><strong>Instagram:</strong> {{empresa.instagram}}</span>&nbsp; &nbsp;
            <span *ngIf="empresa.linkedin"><strong>Linkedin:</strong> {{empresa.linkedin}}</span>&nbsp; &nbsp;
            <span *ngIf="empresa.tiktok"><strong>Tiktok:</strong> {{empresa.tiktok}}</span>
        </p>

        <div style="color:red">
            <ul *ngIf="errores.length > 0 ">
                <li *ngFor="let error of errores">{{ error }}</li>
            </ul>
        </div>
        
        <app-autorizado [rol]="'postulante'">
            <ng-container Autorizado >
                <div fxLayoutAlign="end" *ngIf="postulado == false">
<!--                     <button class ="detalle-empleo-boton"mat-button (click)="postular()">Postular al empleo</button>
 -->                    <button class ="detalle-empleo-boton"mat-button (click)="openDialog()">Postular al empleo</button>
                </div>
                <div *ngIf="postulado == true" class="contenedor-mensaje-postulado" fxLayoutAlign="center">
                    <h2 class="mensaje-postulado"   >Usted postulo a este empleo</h2>
                </div>
            </ng-container>
        </app-autorizado>
        <app-autorizado>
            <ng-container noAutorizado>
                <div fxLayoutAlign="end" *ngIf="postulado == false">
                    <button class ="detalle-empleo-boton"mat-button [routerLink]="['/registrarse']">Postular empleo</button>
                </div>
            </ng-container>
            
        </app-autorizado>
        
        
    </div>
    
</div>
