.contenedor_perfil{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/backgrounds/blue minimalist wallpaper.jfif');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto;
    margin: 0px;
    padding: 1%;

}

.titulo_perfil{
    color: white;
    font-size: 50px;
    line-height: 70px;
    text-decoration:underline;
}

.perfil_foto{
    padding: 0px 10% 0px 10%;
}
.foto_imagen{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white;
}

.input_imagen{
    color: white;
    background-color: #33bbd1;
    width: 30px;
    margin-top: -60px;
    border-radius: 50%;
    padding:0%;
}
.guardar_cambios{
    color: white;
    background-color: #33bbd1;
    margin: 20px;
    margin-top:100px ;
    
    padding: 10%;
    width: 200px;
}
.input_cv{
    color: white;
    background-color:#142f3f ;
    padding: 10%;
    width: auto;
    border-radius: 15px;
}
.boton_cv{
    background-color:#33bbd1 ;
    color: white;
}
.descargar_modelo_cv{
    color:white; 
    text-align: center; 
    font-size: 25px;
}

.perfil_form{
    padding: 50px 200px 50px 200px;
    
}

.formulario-inputs{

    border-radius:15px ;
    background-color: white;
    color: #142f3f;
    margin: 10px;
}
textarea{
    height:100px ;
}
.formulario-inputs_mediano{
    border-radius:15px ;
    background-color: white;
    color: #142f3f;
    margin: 10px;
    width: 50%;
    
}
.movil{
    display: none;
}

@media(max-width:991px){
    .foto_imagen{
        margin: 10px;
        width: 150px;
        height: 150px;

    }
    
    .perfil_form{
        padding: 50px 50px 50px 50px;
    }
    .input_imagen{
        color: white;
        background-color: #33bbd1;
        width: 20px;
        margin-top: -60px;
        border-radius: 50%;
        padding:0%;
    }
    .input_cv{
        padding:3%;
        width: auto;
        border-radius: 15px;
    }
    .descargar_modelo_cv{
        font-size: 18px;
    }
    .guardar_cambios{
        margin-top:15%;
    }


}
@media(max-width:767px){
    .desktop{
        display: none;
    }
    .movil{
        display: block;
    }
    .titulo_perfil{
        font-size: 30px;
    }
    .perfil_form{
        padding: 15px 5px 15px 5px;
    }
    .descargar_modelo_cv{
        margin-top: 10px;
        font-size: 18px;
    }
    .input_imagen{
        color: white;
        background-color: #33bbd1;
        width: 20px;
        margin-top: -60px;
        border-radius: 50%;
        padding:0%;
    }

    .foto_imagen{   
        margin: 5px;
        width: 150px;
        height: 150px;
    }
    .guardar_cambios{
        margin: 0px;
        margin-top:5%;
        padding: 5%;
        width: 100%;
    }

    .formulario-inputs_mediano{
        width: 45%;
    }


}