<div class="buscador" >
    <div fxLayoutAlign="center"><h1 class="titulo_empleos_publicados">Ofertas pasadas</h1></div>

    <div class="buscador-box" fxLayoutAlign="center" >

        
        <form class="buscador-box-formulario" [formGroup]="form" (submit)="buscar(form.value)" >
            
            <div fxLayoutAlign="row">
            <div>
                <!-- <mat-form-field class="buscador-box-formulario-input" appearance="fill">
                    <mat-label>Categoria</mat-label>
                            <mat-select formControlName="categoria" >
                                <mat-option [value]="''" >
                                    No seleccionado
                                </mat-option>
                                <mat-option *ngFor="let option of categorias" [value]="option.nombre">
                                    {{option.nombre}}
                                </mat-option>
                            </mat-select>
                </mat-form-field> -->
                <!-- <mat-form-field class="buscador-box-formulario-input" appearance="fill">
                    <mat-label>Empresa</mat-label>
                    <input matInput formControlName="nombre_empresa" >
                </mat-form-field> -->
            </div>

            <div>
                
                <mat-form-field class="buscador-box-formulario-input" appearance="fill">
                    <mat-label>Palabra clave</mat-label>
                    <input matInput formControlName="palabraClave" >
                         
                </mat-form-field>

            </div>
            <div fxLayoutAlign="row" class="contenedor-botones">
                <button class="buscador-boton" mat-button  >
                    Buscar
                </button>
                <button class="buscador-boton2" mat-button (click)="limpiar()" >
                    Limpiar filtros
                </button>
            </div>
            
            </div>
        </form>
    </div>
    <div fxLayoutAlign="end">
        <button class="boton-ofertas-pasdas" mat-button (click)="volver()">Volver y buscar ofertas vigentes</button>
    </div>
    
</div>

<div *ngIf="this.mensajeRobot" style="text-align: center;">
    <ul  style="color:white; background-color: #FF6200; border-radius: 15px;">
        <li>¡¡¡ {{mensajeRobot}} !!! </li>
    </ul>
</div>
<div class="lista-empleos" fxLayoutAlign="center" >

    <div *ngIf="resultados == false" style="color: white; padding-top: 50px;">
        <h2>No se encontraron ofertas</h2>
    </div>

    <div fxLayout="column" >
        <div *ngFor="let option of Ofertas; let i = index" >

            <mat-card class="lista-empleos-card" *ngIf="i%2 == 0" >
                <img mat-card-image class ="lista-empleos-card-image" [src]="option.foto_perfil" >
                <mat-card-content>
                    <mat-card-title class="card-titulo">
                        {{option.puesto_empleo}}
                    </mat-card-title>
                    <br>
                    <mat-card-subtitle class="card-subtitulo">
                        {{option.nombre_empresa}}
                    </mat-card-subtitle>
                    <div fxLayoutAlign="space-between">
                        <span class="card-fecha">Fecha de publicacion: <br> {{option.fecha_publicacion | date:"dd/MM/yy - hh:mm a"}}</span>
                        <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',option.id]">
                        Ver detalles
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div >
    </div>


    <div fxLayout="column">
        <div *ngFor="let option of Ofertas; let i = index" >

            <mat-card class="lista-empleos-card" *ngIf="i%2 == 1" >
                <img mat-card-image class ="lista-empleos-card-image" [src]="option.foto_perfil" >
                <mat-card-content>
                    <mat-card-title class="card-titulo">
                        {{option.puesto_empleo}}
                    </mat-card-title>
                    <br>
                    <mat-card-subtitle class="card-subtitulo">
                        {{option.nombre_empresa}}
                    </mat-card-subtitle>
                    <div fxLayoutAlign="space-between">
                        <span class="card-fecha">Fecha de publicacion: <br> {{option.fecha_publicacion | date:"dd/MM/yy - hh:mm a"}}</span>
                        <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',option.id]">
                        Ver detalles
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div >
        
    </div>

    
</div>



<mat-paginator [pageSizeOptions]="[1,2,4,8]" showFirstLastButtons
[length]="cantidadTotalRegistros" [pageSize]="cantidadRegistrosAMostrar"
(page)="actualizarPaginacion($event)" class="paginador" 
>
</mat-paginator>

