.toolbar{
    background-color: black;
    height: 100px;
}
.toolbar-boton{
    font-size: 23px;
    text-decoration:underline;
    color: white;
    background-color: #000000;
    margin-top: 30px;   
}
.toolbar-boton:hover{
    color:#33bbd1;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .avatar2{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    size: cover;
    border-radius: 50%;
    border: solid white;
  }
  .username{
    color: white;
  }