.buscador{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/backgrounds/blue minimalist wallpaper.jfif');
    background-color: #142f3f;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:auto;
    margin: 0px;
    padding: 0px;

}
.buscador-descripcion{
    padding-left: 80px;
    padding-top: 130px;
}
.buscador-descripcion-texto{
    color: white;
    font-size: 50px;
    line-height: 70px;
}
.buscador-imagen{
    width: 500px;
    margin-top: 20%;
}

.buscador-box{
    margin-top:5%;
    margin-left:10%;
}

.buscador-boton{
    background-color: #33bbd1;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    color: white;
    border-radius: 15px;
    border:5px solid wheat;
}

.buscador-box-formulario{
    border-radius: 15px;
    background-color: white;
    width: 700px;
  }
  
.buscador-box-formulario-input {
    width: 700px;
  }
  .buscador-box-formulario-input2 {
    width: 350px;
  }

.buscador-segunda-descripicon{
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
  }

.ofertas-recientes{
    background-color: black;
}

.ofertas-recientes-titulo{
    color: white;
    font-size: 50px;
    line-height: 70px;
    padding: 5%;
    text-decoration:underline;
}
.ofertas-recientes-card{
    
    box-shadow:   5px 5px 50px rgba(163, 163, 163, 0.158);
    background-color: #2b2b2b;
    margin-bottom: 100px;
    max-width: 600px;
    margin: 50px;
}
.ofertas-recientes-card-image{
    
    height: 150px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.card-titulo{
    color: white;
    font-size: 28px;
    font-weight: bolder;
}
.card-subtitulo{
    color: white;
    font-size: 22px;
}
.card-fecha{
    color: #33bbd1;
    font-size: 15px;
}
.card-boton{
    background-color:#142f3f;
    width: 50%;
    color: white;
}
.movil{
    display: none;
}



@media(max-width:991px){

    .movil{
        display: none;
    }

    .buscador-descripcion{
        padding-left: 10px;
        padding-top: 50px;
    }
    .buscador-descripcion-texto{
        color: white;
        font-size: 40px;
        line-height: 65px;
    }

    .buscador-box-formulario{
        text-align: center;
        border-radius: 15px;
        background-color: white;
        width: 450px;
        
        
      }
    .buscador-box-formulario-input {
        width: 450px;
      }

      .buscador-imagen{
        width: 300px;
        margin-top: 0px;
    }
    .buscador-boton{
        margin-left:5px;
        margin-top: 1px;
        margin-bottom: 10px;
       
    }

    .buscador-segunda-descripicon{
        color: white;
        font-size: 25px;
        margin-top: 2px;
        margin-bottom: 5%;
        margin:10px;
        text-align: center;
      }

    .ofertas-recientes-card{
        margin-bottom: 100px;
        max-width: 300px;
        margin: 10px;
    }  

    .ofertas-recientes-card-image{
        height: 150px;
        width: 330px;
    }

}

@media(max-width:767px){

   .movil{
    display: block;
   }
   .desktop{
    display: none;
   }

    .buscador-descripcion{
        padding-left: 10px;
        padding-top: 30px;
    }
    .buscador-descripcion-texto{
        color: white;
        font-size: 30px;
        line-height: 40px;
    }
    .buscador-box-formulario{
        text-align: center;
        border-radius: 15px;
        background-color: white;
        width: 400px;
        
        
      }
    .buscador-box-formulario-input {
        width: 400px;
      }

    .buscador-imagen{
        width: 200px;
        margin-top: 5%;
    }
    .buscador-boton{
        margin-left:5px;
        margin-top: 1px;
        margin-bottom: 10px;
       
    }

    .buscador-segunda-descripicon{
        color: white;
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 5%;
        margin:10px;
        text-align: center;
      }

    .ofertas-recientes-card{
        margin-bottom: 100px;
        max-width: 250px;
        margin: 10px;
    }  

    .ofertas-recientes-card-image{
        height: 150px;
        width: 280px;
    }
    .ofertas-recientes-titulo{
        color: white;
        font-size: 30px;
        line-height: 70px;
        padding: 5%;
        text-decoration:underline;
        text-align: center;
    }
    
}

@media(max-width:575px){
    

    .buscador-descripcion{
        padding-left: 10px;
        padding-top: 30px;
    }
    .buscador-descripcion-texto{
        color: white;
        font-size: 18px;
        line-height: 25px;
    }
    .buscador-box{
        margin-left: 5%;
    }
    .buscador-box-formulario{
        
        border-radius: 15px;
        background-color: white;
        width: 200px;
        height: 50px;
        
      }
    .buscador-box-formulario-input {
        width: 200px;
      }

    .mat-input-element {
        height: 10px;
        line-height: 1.5;
      }
    .mat-form-field-infix {
        padding: 12px;
      }

    .buscador-imagen{
        width: 100px;
        margin-top: 20%;
    }
    .buscador-boton{
        margin-left:5px;
        margin-top: 1px;
        margin-bottom: 10px;
        height: 50px;       
    }

    .buscador-segunda-descripicon{
        color: white;
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 5%;
        margin:10px;
        text-align: center;
      }

       
}


