
<div class="buscador">
    <div  fxLayoutAlign="space-around" >
        <div>
            <app-autorizado>
                <ng-container Autorizado>
                    <p style="color: white;">Bienvenido {{nombre}}</p>
                </ng-container>
                
            </app-autorizado>
            <div class="buscador-descripcion" ><h1 class="buscador-descripcion-texto">Busca y encuentra todas las ofertas de empleo en Chuquisaca</h1></div>
            <div class="buscador-box">
                <form class="buscador-box-formulario" [formGroup]="form">
                    <div fxLayoutAlign="row">
                    <div>
                        
                        <mat-form-field class="buscador-box-formulario-input" appearance="fill" >
                            <mat-label>Categoria</mat-label>
                            <mat-select formControlName="categoria" >
                              <mat-option *ngFor="let option of categorias" [value]="option.nombre">
                                {{option.nombre}}
                              </mat-option>
                            </mat-select>
                            
                        </mat-form-field>
                        <mat-form-field class="buscador-box-formulario-input" appearance="fill">
                            <mat-label>Empresa</mat-label>
                            <input matInput formControlName="nombre_empresa">
                        </mat-form-field>
                    </div>
    
                    <div>
                        <mat-form-field class="buscador-box-formulario-input" appearance="fill">
                            <mat-label>Palabra clave</mat-label>
                            <input matInput formControlName="palabraClave">
                        </mat-form-field>
                        <button  class="buscador-boton" mat-button (click)="enviarFormulario(form.value)">
                            Buscar
                        </button>
                    </div>
                    <!-- <div>
                        <button class="buscador-boton" mat-button (click)="enviarFormulario(form.value)">
                            Buscar
                        </button>
                    </div> -->
                    </div>
                </form>
            </div>
            </div>
        <div>
            <img class="buscador-imagen" src="..\assets\logos\logo inicio.png" alt="inicio">
        </div>
    </div>
    <div fxLayoutAlign="center">
        <h2 class="buscador-segunda-descripicon">Contamos con una bolsa de empleos con todas las ofertas de Chuquisaca</h2>
    </div>
</div>
<div class="ofertas-recientes">
    <div fxLayoutAlign="center"  >
        <h1 class="ofertas-recientes-titulo">Ofertas Recientes</h1>
    </div >
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" >
            <mat-card class="ofertas-recientes-card"  *ngFor="let option of Ofertas1">
                <img mat-card-image class ="ofertas-recientes-card-image" [src]="option.foto_perfil" >
                <mat-card-content>
                    <mat-card-title class="card-titulo">
                        {{option.puesto_empleo}}
                    </mat-card-title>
                    <br>
                    <mat-card-subtitle class="card-subtitulo">
                        {{option.nombre_empresa}}
                    </mat-card-subtitle>
                    <div fxLayoutAlign="space-between">
                        <span class="card-fecha">Fecha de publicacion: <br> {{option.fecha_publicacion}}</span>
                        <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',option.id]">
                        Ver detalles
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>
        <div fxLayout="column" >
            <mat-card class="ofertas-recientes-card" *ngFor="let option of Ofertas2">
                <img mat-card-image class ="ofertas-recientes-card-image" [src]="option.foto_perfil" >
                <mat-card-content>
                    <mat-card-title class="card-titulo">
                        {{option.puesto_empleo}}
                    </mat-card-title>
                    <br>
                    <mat-card-subtitle class="card-subtitulo">
                        {{option.nombre_empresa}}
                    </mat-card-subtitle>
                    <div fxLayoutAlign="space-between">
                        <span class="card-fecha">Fecha de publicacion: <br> {{option.fecha_publicacion}}</span>
                        <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',option.id]">
                        Ver detalles
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        

    </div>
    

</div>