<div class="contenedor_empleos_publicados">
    <div fxLayoutAlign="center"><h1 class="titulo_empleos_publicados">Empleos publicados</h1></div>
    <div class="contenedor-cards">
        <div class="cards_clasificacion_titulo" fxLayoutAlign="center">
            <h2> Publicaciones vigentes</h2>
        </div>
        <mat-card class="empleos_publicados_card" *ngFor="let item of publicaciones">
<!--             <img mat-card-image class ="ofertas-recientes-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->

            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column">
                    <mat-card-title>
                        {{item.puesto_empleo}}
                    </mat-card-title>
                    
                    <mat-card-subtitle>
                        <strong>Fecha de publicacion:</strong><br>  {{item.fecha_publicacion | date:"dd/MM/yy - hh:mm a"}}
                    </mat-card-subtitle>
                </div>
                <div class="card_descripcion desktop">
                    <mat-card-content >
                        {{item.descripcion.substring(0,200)}}...
                    </mat-card-content>
                </div>
                <div class="desktop">
                <div fxLayout="column">
                    <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',item.id]">
                        Ver detalles
                    </button>
                    <button class="card-boton" mat-button [routerLink]="['/empresas/editar-publicacion',item.id]">
                        Editar publicación
                    </button>
                </div>
                </div>
            </div>
            <div class="movil">
            <div fxLayout="row" fxLayoutAlign="space-around">
                <button class="card-boton" mat-button [routerLink]="['/detalle-empleo',item.id]">
                    Ver detalles
                </button>
                <button class="card-boton" mat-button [routerLink]="['/empresas/editar-publicacion',item.id]">
                    Editar publicación
                </button>
            </div>
            </div>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[1,2,4,8]" showFirstLastButtons
        [length]="cantidadTotalRegistros1" [pageSize]="cantidadRegistrosAMostrar1"
        (page)="actualizarPaginacion1($event)" class="paginador" >
        </mat-paginator><br>


        <div class="cards_clasificacion_titulo" fxLayoutAlign="center">
            <h2> Publicaciones vencidas</h2>
        </div>
            <mat-card class="empleos_publicados_card_vencido" *ngFor="let item of publicaciones_vencidas">
            <!--             <img mat-card-image class ="ofertas-recientes-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >-->
            
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div fxLayout="column">
                                <mat-card-title>
                                    {{item.puesto_empleo}}
                                </mat-card-title>
                                
                                <mat-card-subtitle>
                                    Fecha de publicacion:{{item.fecha_publicacion | date:"dd/MM/yy - hh:mm a"}}
                                </mat-card-subtitle>
                            </div>
                            <div class="card_descripcion desktop">
                                <mat-card-content >
                                    {{item.descripcion.substring(0,200)}}...
                                </mat-card-content>
                            </div>
                            <div fxLayout="column">
                               <!--  <button class="card-boton" mat-button>
                                    Ver detalles
                                </button>
                                <button class="card-boton" mat-button>
                                    Editar publicación
                                </button> -->
                            </div>
                        </div>
            </mat-card>
            <mat-paginator [pageSizeOptions]="[1,2,4,8]" showFirstLastButtons
            [length]="cantidadTotalRegistros2" [pageSize]="cantidadRegistrosAMostrar2"
            (page)="actualizarPaginacion2($event)" class="paginador" >
    
            </mat-paginator>    

    </div>
</div>

